<template>
    <div class="w-full px-2 py-16 sm:px-0">
        <TabGroup>
            <TabList class="flex space-x-1 rounded-xl bg-blue-900/20 p-1">
                <Tab v-for="category in categories" as="template" :key="category.name" v-slot="{ selected }">
                    <button 
                    @click="tabSelect(category.name)"
                    :class="[
                        'w-full rounded-lg py-2.5 text-sm font-medium leading-5 text-blue-700',
                        'ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
                        category.current
                            ? 'bg-white shadow'
                            : 'text-blue-100 hover:bg-white/[0.12] hover:text-white',
                    ]">
                        {{ category.name }}
                    </button>
                </Tab>
            </TabList>

            <TabPanels class="mt-2">
                <TabPanel v-for="category in categories" :key="category.name" :class="[
                    'rounded-xl bg-white p-3',
                    'ring-white ring-opacity-60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2',
                ]">
                <CardsRelease v-if="currentCat === 'By release'"/>
                <CardsType v-if="currentCat === 'By card type'"/>
                <CardsEverything v-if="currentCat === 'Everything'"/>
                </TabPanel>
            </TabPanels>
        </TabGroup>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { TabGroup, TabList, Tab, TabPanels, TabPanel } from '@headlessui/vue'
import CardsRelease from '@/components/CardsRelease.vue'
import CardsType from '@/components/CardsType.vue'
import CardsEverything from '@/components/CardsEverything.vue'

const categories = ref([
    { name: 'By release', current: true },
    { name: 'By card type', current: false },
    { name: 'Everything', current: false },
])

function tabSelect(name) {
  for (let category in categories.value) {
    categories.value[category].current = false
  }
  categories.value.find(a => a.name === name).current = true
}

const currentCat = computed(() => {
  return categories.value.find(a => a.current === true).name
})

</script>
