<template>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl py-14 px-4 sm:py-14 sm:px-6 lg:max-w-7xl lg:px-8">
            <h2 class="sr-only">Releases</h2>
            <ReleaseModal :isOpen="isOpen" :releaseId="selectedId" @close="closeModal" />
            <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                <div v-for="release in releases" :key="release.id" class="group">
                    <button @click="openModal(release.id)"
                        class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-white xl:aspect-w-7 xl:aspect-h-8">
                        <img :src="release.imgUrl" class="h-full w-full object-cover object-center group-hover:opacity-75" />
                    </button>
                    <div class="flex items-center justify-evenly">
                        <button @click="openModal(release.id)">
                            <h3 class="mt-4 text-m text-gray-700">{{ release.name }}</h3>
                            <p class="mt-1 text-xs font-medium text-gray-900">{{ release.release_date }}</p>
                        </button>
                        <button>
                            <ArrowDownOnSquareStackIcon class="h-5 w-5 flex-shrink-0 text-green-600 hover:text-green-500"
                                aria-hidden="true" />
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
  
<script setup>
import { ref, computed } from 'vue'
import { ArrowDownOnSquareStackIcon } from '@heroicons/vue/24/outline'
import ReleaseModal from '@/components/ReleaseModal.vue'
import { useCardStore } from '@/stores/cards.js';

const cardStore = useCardStore();

const releases = computed(() => {
    return cardStore.curatedReleases
})

const isOpen = ref(false)

const selectedId = ref(1)

function closeModal() {
    isOpen.value = false
}
function openModal(id) {
    isOpen.value = true
    selectedId.value = id
}

let imageSrc = 'src/assets/img/releases/coreset.png'

</script>