<template>
    <div class="flex items-baseline pb-5 ">
        <h2 class="pr-3 pl-10">Order by : </h2>
        <TypeCardSelector :options="orders" @option-change="orderChange($event)"/>
    </div>
    <EveryThingCardList :order-by="currentOrder"/>
</template>
  
<script setup>
import { ref } from 'vue';
import TypeCardSelector from './TypeCardSelector.vue';
import EveryThingCardList from './EveryThingCardList.vue';

function orderChange(option) {
    currentOrder.value = option.name
}

let currentOrder = ref("Name")

const orders = [
    { name: 'Name' },
    { name: 'Release date' },
]

</script>
