<template>
    <div class="flex items-baseline pb-5 ">
        <h2 class="pr-3">Show : </h2>
        <TypeCardSelector :options="types" @option-change="typeChange($event)"/>
        <h2 class="pr-3 pl-10">Order by : </h2>
        <TypeCardSelector :options="orders" @option-change="orderChange($event)"/>
    </div>
    <TypeCardList :show-card="currentType" :order-by="currentOrder"/>

</template>
  
<script setup>
import TypeCardSelector from './TypeCardSelector.vue';
import TypeCardList from './TypeCardList.vue';
import { ref } from 'vue';

function typeChange(option) {
    currentType.value = option.name
}

function orderChange(option) {
    currentOrder.value = option.name
}

let currentType = ref("Heroes")

let currentOrder = ref("Name")

const types = [
    { name: 'Heroes' },
    { name: 'Scenarios' },
    { name: 'Encounter Sets' }
]

const orders = [
    { name: 'Name' },
    { name: 'Release date' },
]

</script>
  