<template>
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <TypeModal :isOpen="isOpen" :card="selectedCard" @close="closeModal" />
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Type</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Release</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Release Date</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
            <EverythingCardListItem
            v-for="card in orderCards" :key="card.name+card.id" :card="card"
            @click="openModal(card)"/>/>
        </tbody>
    </table>
</template>

<script setup>
import { computed } from '@vue/reactivity';
import EverythingCardListItem from './EverythingCardListItem.vue';
import { useCardStore } from '@/stores/cards.js';
import TypeModal from './TypeModal.vue';
import { ref } from 'vue';

const cardStore = useCardStore();

const props = defineProps({
    orderBy: String
})


const cards = computed(() => {
    let heroes = cardStore.curatedHeroes;
    let scenarios = cardStore.curatedScenarios;
    let encounterSets = cardStore.curatedEncounterSets;
    return heroes.concat(scenarios.concat(encounterSets));
})

const orderCards = computed(() => {
    if (props.orderBy == 'Name') {
        return cards.value.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));
    }
    else if (props.orderBy == 'Release date') {
        function compare(a, b) {
            let release_a = cardStore.getReleaseByCard(a)
            let release_b = cardStore.getReleaseByCard(b)
            return new Date(release_a.release_date) - new Date(release_b.release_date)
        }
        return cards.value.sort(compare);
    }
})

let selectedCard = ref(orderCards[0])
const isOpen = ref(false)

function closeModal() {
    isOpen.value = false
}
function openModal(card) {
    isOpen.value = true
    selectedCard.value = card
}

</script>