<template>
    <div class="flex w-0 flex-1 items-center">
        <span class="ml-2 w-0 flex-1 truncate">{{ name }}</span>
    </div>
    <div class="ml-4 flex-shrink-0  text-green-600 hover:text-green-500">
        <button @click="$emit('add')" class="flex items-center font-medium">
            <p v-if="showText">Add to collection</p>
            <ArrowDownOnSquareIcon class="h-5 w-5 ml-1 flex-shrink-0 " aria-hidden="true" />
        </button>
    </div>
</template>

<script setup>
import { ArrowDownOnSquareIcon } from '@heroicons/vue/24/outline'

defineProps({
    name: String,
    showText: {
        type: Boolean,
        default: true
    },
})

defineEmits(['add'])

</script>