<template>
    <TransitionRoot appear :show="isOpen" as="template">
        <Dialog as="div" @close="$emit('close')" class="relative z-10">
            <TransitionChild as="template" enter="duration-300 ease-out" enter-from="opacity-0" enter-to="opacity-100"
                leave="duration-200 ease-in" leave-from="opacity-100" leave-to="opacity-0">
                <div class="fixed inset-0 bg-black bg-opacity-25" />
            </TransitionChild>

            <div class="fixed inset-0 overflow-y-auto">
                <div class="flex min-h-full items-center justify-center p-4 text-center">
                    <TransitionChild as="template" enter="duration-300 ease-out" enter-from="opacity-0 scale-95"
                        enter-to="opacity-100 scale-100" leave="duration-200 ease-in" leave-from="opacity-100 scale-100"
                        leave-to="opacity-0 scale-95">
                        <DialogPanel
                            class="w-full max-w-screen-lg transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all">
                            <div class="flex justify-between">
                                <DialogTitle as="h3" class="text-lg font-medium leading-6 text-gray-900">
                                    {{ release.name }}
                                </DialogTitle>
                                <button type="button"
                                    class="inline-flex justify-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-sm font-medium text-blue-900 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2"
                                    @click="$emit('close')">
                                    &cross;
                                </button>
                            </div>


                            <div class="mt-2">
                                <div class="overflow-hidden bg-white shadow sm:rounded-lg">
                                    <div class="px-4 py-5 sm:px-6">
                                        <p class="mt-1 max-w-2xl text-sm text-gray-500">Details and content
                                        </p>
                                    </div>
                                    <div class="border-t border-gray-200">
                                        <dl>
                                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Name</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ release.name
                                                }}
                                                </dd>
                                            </div>
                                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Release Date</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{
                                                    release.release_date }}</dd>
                                            </div>
                                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Included Heroes</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                                    <ul role="list" v-if="heroes.length"
                                                        class="divide-y divide-gray-200 rounded-md border border-gray-200">
                                                        <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm"
                                                            v-for="hero in heroes">
                                                            <ReleaseCardItemModal
                                                                :name="hero.hero_name + ' / ' + hero.alterego_name"
                                                                @add="addToCollection(hero.id)" />
                                                        </li>
                                                    </ul>
                                                    <div v-else>
                                                        None
                                                    </div>
                                                </dd>
                                            </div>
                                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Included Scenarios</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                                    <ul role="list" v-if="scenarios.length"
                                                        class="divide-y divide-gray-200 rounded-md border border-gray-200">
                                                        <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm"
                                                            v-for="scenario in scenarios">
                                                            <ReleaseCardItemModal :name="scenario.name"
                                                                @add="addToCollection(scenario.id)" />
                                                        </li>
                                                    </ul>
                                                    <div v-else>
                                                        None
                                                    </div>
                                                </dd>
                                            </div>
                                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                <dt class="text-sm font-medium text-gray-500">Included Encounter Sets</dt>
                                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                                    <ul role="list" v-if="encountersets.length"
                                                        class="divide-y divide-gray-200 rounded-md border border-gray-200">
                                                        <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm"
                                                            v-for="encounterset in encountersets">
                                                            <ReleaseCardItemModal :name="encounterset.name"
                                                                @add="addToCollection(encounterset.id)" />
                                                        </li>
                                                    </ul>
                                                    <div v-else>
                                                        None
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 flex justify-between">
                                <button type="button"
                                    class="inline-flex justify-center rounded-md border border-transparent bg-blue-100 px-4 py-2 text-sm font-medium text-blue-900 hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2"
                                    @click="$emit('close')">
                                    Close
                                </button>
                                <button type="button"
                                    class="inline-flex justify-center rounded-md border border-transparent bg-green-100 px-4 py-2 text-sm font-medium text-green-900 hover:bg-green-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2"
                                    @click="$emit('close')">
                                    Add everything to my collection
                                    <ArrowDownOnSquareStackIcon
                                        class="h-5 w-5 ml-1 flex-shrink-0 text-green-600 hover:text-green-500"
                                        aria-hidden="true" />
                                </button>
                            </div>
                        </DialogPanel>
                    </TransitionChild>
                </div>
            </div>
        </Dialog>
    </TransitionRoot>
</template>
  
<script setup>
import { ref } from 'vue'
import {
    TransitionRoot,
    TransitionChild,
    Dialog,
    DialogPanel,
    DialogTitle,
} from '@headlessui/vue'
import ReleaseCardItemModal from './ReleaseCardItemModal.vue';
import { ArrowDownOnSquareStackIcon } from '@heroicons/vue/24/outline'
import { useCardStore } from '@/stores/cards.js';
import { computed } from '@vue/reactivity';

defineEmits(['close'])

const props = defineProps({
    isOpen: Boolean,
    releaseId: Number
})

function addToCollection(id) {
    alert("added " + id)
}

const cardStore = useCardStore();

const release = computed(() => {
    return cardStore.getReleaseById(props.releaseId)
})

const heroes = computed(() => {
    return cardStore.getHeroesByRelease(release.value)
})

const scenarios = computed(() => {
    return cardStore.getScenariosByRelease(release.value)
})

const encountersets = computed(() => {
    return cardStore.getEncounterSetsByRelease(release.value)
})



</script>
  