<template>
    <tr class="hover:bg-gray-50">
        <th class="flex gap-3 px-6 py-4 items-center font-normal text-gray-900">
            <img v-if="card.type != 'Encounter Set'" class=" relative h-10 w-10 rounded-full object-cover object-center "
                :src="card.iconUrl" alt="" />
            <div class="text-sm font-medium text-gray-700">
                {{ card.name }}
            </div>
        </th>
        <td class="px-6 py-4">
            {{ release.name }}
        </td>
        <td class="px-6 py-4">
            {{ release.release_date }}
        </td>
        <td class="px-6 py-4">
            <div class="flex justify-end gap-4">
                <div class=" flex-shrink-0  text-green-600 hover:text-green-500">
                    <button @click="$emit('add')" class="flex cards-center font-medium">
                        Add to collection
                        <ArrowDownOnSquareIcon class="h-5 w-5 ml-1 flex-shrink-0 " aria-hidden="true" />
                    </button>
                </div>
            </div>
        </td>
    </tr>
</template>

<script setup>
import { ArrowDownOnSquareIcon } from '@heroicons/vue/24/outline'
import { useCardStore } from '@/stores/cards.js';
import { computed } from '@vue/reactivity';

const cardStore = useCardStore();

let props = defineProps({
    card: Object
})

const release = computed(() => {
    return cardStore.getReleaseByCard(props.card)
})


defineEmits(['add'])

</script>